.debt-card-tab-phone {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;

    &__buttons-container {
        margin-top: 15px;

        display: flex;
        flex-direction: column;
        gap: .7rem;
    }

    &__table-container {
        width: 100%;
    }
}