.debt-card-tab-phone {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;

    .debt-card-tab-phone__buttons-container {
        display: flex;
        flex-direction: column;
        gap: .7rem;
    }
}