@import '../../utilities/variables.scss';

.debt-list {
    padding: 18px 0;

    .debt-list__title {
        padding-left: 28px;
        padding-bottom: 18px;

        font-size: 1.25rem;
        font-weight: 500;
    }

    .debt-list__container {
        padding: 24px 32px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        background-color: #fff;
        border-radius: 8px;
        box-shadow: $box-shadow;
    }
}