@import '../../utilities/variables.scss';

.multifilters__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.multifilters__filters-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.875rem;

    .multifilters__filter-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.2rem;
    }

    .multifilters__filter-name {
        font-weight: 500;
    }

    .multifilters__input {
        width: 200px;
        height: 35px;
        padding: .3rem;
        margin-top: 8px;

        border: 1px solid $lightgrey-border;
    }
}