/* 
? Смартфоны — 320 пикселей, 480 и выше;
? Планшеты — 768 пикселей и выше;
? Нетбуки — 1024 пикселей и выше;
? Мониторы — 1280 пикселей, 1600, 1920 и выше.
*/

@import './utilities/nullstyle.scss';
@import './components/Header/header.module.scss';
@import './components/Multifilters/multifilters.module.scss';
@import './components/DebtList/debtList.module.scss';
@import './components/DebtCardHeader/debtCardHeader.module.scss';
@import './components/DebtCardTabs/debtCardTabs.module.scss';
@import './components/DebtCardTabClient/debtCardTabClient.module.scss';
@import './components/DebtCardTabDebt/debtCardTabDebt.module.scss';
@import './components/DebtCardTabPhone/debtCardTabPhone.module.scss';
@import './components/DebtCardTabAddress/debtCardTabAddress.module.scss';
@import './components/DebtCardTabEmail/debtCardTabEmail.module.scss';
@import './components/DebtCardTabPayment/debtCardTabPayment.module.scss';
@import './pages/DebtsGrid/debtsGrid.module.scss';
@import './pages/DebtCard/debtCard.module.scss';

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px; 
    color: $base-text;
}

body {
    background-color: #F6FAFF;
}

.App {
    display: flex;
    align-items: flex-start;
}

/* Кнопки */

.btn {
    content: '';
    background-color: inherit;

}

.btn--reset {
    width: 24px;
    height: 24px;

    background-image: url('../public/img/buttons/reset.svg');
}

.btn--close {
    width: 12px;
    height: 12px;

    background-image: url('../public/img/buttons/close.svg');
}

.btn--add {
    width: 24px;
    height: 24px;

    background-image: url('../public/img/buttons/add.svg');
}

.btn--edit {
    width: 24px;
    height: 24px;

    background-image: url('../public/img/buttons/edit.svg');
}

.btn--delete {
    width: 24px;
    height: 24px;

    background-image: url('../public/img/buttons/delete.svg');
}

/* bg-block */

.bg-block {
    padding: 18px 0;

    .bg-block__title {
        padding-left: 28px;
        padding-bottom: 18px;

        font-size: 1.25rem;
        font-weight: 500;
    }

    .bg-block__container {
        padding: 24px 32px;
     
        background-color: #fff;
        border-radius: 8px;
        box-shadow: $box-shadow;
    }

}

/* fields */

.fields__field-container {
    display: flex;
    flex-direction: column;

    position: relative;        
}

.fields__label {
    color: $label-text;
    font-size: .875rem;
}

.fields__input {
    padding: 5px 3px 0;
    border-bottom: 2px solid $lightgrey-border;

}

.fields__input:focus {
    background-color: $focus-bgcolor;
    border-bottom: 2px solid $blue-main;
    //*TODO: Сделать окрас на input и label. Чтобы оба подсвечивались
}

/* react-tabs */

.react-tabs__tab--selected {
    border-bottom: 2px solid $blue-main;
}

/* etc */

.w-100p {
    width: 100%;
}

.fd-column {
    flex-direction: column;
}